# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Virtual environments
# =========================
.env
.venv/
venv/

# =========================
# PyTorch / ML models (VERY IMPORTANT)
# =========================
checkpoints/**/*.pt

# =========================
# HuggingFace cache (HUGE)
# =========================
hf_cache/

# =========================
# Data splits & datasets
# =========================
data_splits/

# =========================
# OS / IDE
# =========================
.DS_Store

